<div>
<div class="card mt-4">
  <h5 class="card-header">
    <i><%= @book.title %></i> <%= @book.author %>
  </h5>
  <div class="card-body">
    
    <div class="media my-4">
      <img src="<%= @book.thumbnail %>" class="mr-3" alt="...">
      <div class="media-body">
        <%= @book.description %>
      </div>
    </div>
  </div>
</div>

<div class="my-4">
  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNoteModal">Add Note</button>
</div>

<%= render 'home/add_note_form' %>

<ul class="list-unstyled">
    <% @notes.each do |note| %>
    <li class="media my-4">
      <span style="font-size: 64px;"  class="mr-3" >
        <i class="far fa-sticky-note" style="vertical-align: top"></i>
      </span>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Page <%= note.page_number %></h5>
        <%= note.body %>
      </div>
    </li>
    <% end %>
    
</ul>


</div>